body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  max-width: 360px;
}

@keyframes pulseScale {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.07;
  }
  100% {
    scale: 1;
  }
}

/* header */

.header {
  padding-top: 20px;
  padding-bottom: 60px;

  background-image: url(../images/header-background-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  max-width: 428px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header-background-mobile-2x.jpg);
  }
}

.start-course-container {
  color: #171717;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  margin-bottom: 20px;
}

.start-course-container .box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
}

.start-course-container::after {
  content: "";
  display: block;

  width: 100%;
  height: 1px;

  background: #171717;
}

.header-title {
  color: #fa8c0c;
  leading-trim: both;
  text-edge: cap;
  font-family: Unbounded;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.92px;
  text-transform: uppercase;

  margin-bottom: 310px;
}

.header-button-container {
  position: relative;

  margin-bottom: 30px;
}

.header-button {
  display: block;

  padding: 16px;
  border-radius: 30px;
  background: #427be0;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  border: none;

  color: #f6f6f6;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  cursor: pointer;

  animation: pulseScale 2000ms infinite;
}

/* header-sale-mark-pink */

.header-sale-mark {
  display: none;

  position: absolute;
  top: -35px;
  right: -10px;
}

.sale-mark {
  position: relative;

  animation: spin 2s linear infinite;
  animation-duration: 10s;
}

.rotate {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.sale-number {
  position: absolute;
  top: 48%;
  left: 50%;

  display: flex;
  flex-direction: column;
  align-items: center;

  transform: translate(-50%, -50%);

  color: #fff;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30%;
  text-transform: uppercase;
}

.header-course-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-course-list .list-item {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  max-width: 308px;
  margin-left: auto;
  margin-right: auto;
}

.header-course-list .list-item span {
  font-weight: 700;
}

.timer-container {
  display: none;
}

/* timer */

.countdown {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 32px;
}

.countdown-time {
  display: block;

  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 28px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  letter-spacing: -0.56px;

  width: 70px;
}

.countdown-doubledot {
  content: "";
  display: flex;

  height: 25px;
  width: 1px;
  background: #171717;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
}

.timer-text {
  color: #427be0;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 15.4px */

  max-width: 189px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.timer-text span {
  color: #171717;
  font-weight: 500;
}

.bonus-wrapper {
  display: none;

  position: relative;

  padding: 20px;
  border-radius: 15px;
  border: 2px solid #427be0;

  max-width: 280px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gift-image {
  position: absolute;
  top: -22px;
  right: 14px;
}

.bonus-title {
  color: #427be0;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 24px */
  text-transform: uppercase;

  margin-bottom: 15px;
}

.bonus-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding-left: 33px;
  margin: 0;
}

.bonus-list .list-item {
  color: #171717;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;

  max-width: 191px;
}

.bonus-list .list-item span {
  font-weight: 700;
}

/* for whom */

.for-whom {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #d5e3ff;
}

.for-whom-title {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;

  max-width: 226px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}

.for-whom-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 60px;
}

.for-whom-list .list-item {
  color: #171717;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 19.2px */

  padding: 20px 30px;
  border-radius: 20px;
  background: #fff;

  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* about-author */

.about-author {
  padding-top: 60px;
  padding-bottom: 40px;

  background-image: url(../images/about-author-background-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-size: 100% 958px;

  max-width: 428px;

  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-author {
    background-image: url(../images/about-author-background-mobile-2x.jpg);
  }
}

.about-author-title {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;

  max-width: 140px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.author-image {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.author-name {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.author-name::after {
  content: "";
  display: block;

  width: 100px;
  height: 1px;

  background: #171717;

  margin: 20px auto;
}

.author-info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.author-info-list .list-item {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.author-info-list .list-item:nth-child(1) {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 16.8px */
}

.author-info-list .list-item:nth-child(2) {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.author-info-list .list-item:nth-child(2) span {
  color: #427be0;
  font-weight: 600;
}

.author-info-list .list-item:nth-child(3) {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.author-info-list .list-item:nth-child(4)::after {
  content: "";
  display: block;

  width: 100px;
  height: 1px;

  background: #171717;

  margin: 20px auto;
}

.author-desc {
  color: #171717;
  text-align: center;
  font-family: Manrope;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.author-desc-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.author-desc-list .list-item {
  color: #171717;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

/* course-program */

.course-program {
  padding-top: 40px;
  padding-bottom: 40px;
}

.course-program-title {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;

  max-width: 173px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

/* faq-01 */

.faq {
  margin-bottom: 30px;
}

.isOpen .content {
  display: block;
}

.question {
  position: relative;

  padding: 30px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

  border-radius: 20px;
  background: linear-gradient(90deg, #d5e4ff 0%, #8bb5ff 100%);
  backdrop-filter: blur(2px);

  cursor: pointer;
}

.last-question {
  margin-bottom: 0;
}

.content {
  display: none;

  color: #101010;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.question-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-name > p {
  color: #171717;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;

  max-width: 243px;
}

.content ul {
  padding: 20px 0 0 23px;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content li {
  max-width: 250px;
}

.content p {
  padding: 20px 0 0 0;
}

.question-plus {
  transform: rotate(0);

  transition: transform 250ms linear;
}

.question.open .question-plus {
  transform: rotate(45deg);
}

/* how-study-goes */

.how-study-goes {
  padding-top: 40px;
  padding-bottom: 60px;
}

.how-study-goes .container {
  position: relative;
}

.study-goes-title {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;

  margin-bottom: 30px;

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.study-goes-title span {
  font-size: 36px;
}

.study-goes-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.study-goes-list .list-item {
  color: #171717;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 18px */

  max-width: 254px;
  margin-left: auto;
  margin-right: auto;
}

.study-dots {
  position: absolute;
  top: 122px;
  left: 8%;
}

/* what-you-get */

.what-you-get {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #d5e3ff;
}

.you-get-title {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 30px;
}

.you-get-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.you-get-list .list-item {
  padding: 15px 20px;
  border-radius: 10px;
  background: #fff;

  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  color: #171717;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

/* price-section */

.price-section {
  padding-top: 60px;
  padding-bottom: 40px;
}

.agitation-container {
  margin-bottom: 80px;
}

.agitation-title {
  color: #427be0;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */
  text-transform: uppercase;

  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #427be0;
  background: #fff;

  max-width: 272px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;
}

.agitation-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.agitation-list .list-item {
  color: #090909;
  text-align: center;
  font-family: Manrope;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 18px */

  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.agitation-text {
  color: #ffa132;
  text-align: center;
  font-family: Unbounded;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;

  margin-bottom: 14px;
}

/*  */

.price-wrapper {
  border-radius: 20px;
  border: 1px solid #427be0;
  background: #fff;

  max-width: 320px;
  height: 304px;

  padding: 30px 20px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.wrapper-price-title {
  color: #427be0;
  text-align: center;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 75%; /* 46px */
  text-transform: uppercase;
}

.wrapper-price-title span {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%;
  text-transform: uppercase;
}

.wrapper-price-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 1px;
  background: #000;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inner-wrapper {
  padding: 10px;
  border-radius: 15px;
  background: #d5e4ff;
  margin-bottom: 10px;
}

.old-price {
  color: #427be0;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  font-family: Manrope;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 115%; /* 34.5px */

  text-decoration: line-through;
  text-decoration-color: #000;
}

.new-price {
  color: #171717;
  text-align: center;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
  font-family: Manrope;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%; /* 46px */
}

.price-description {
  color: #696969;
  text-align: center;
  font-family: Manrope;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.price-description span {
  color: var(--black, #070707);
  font-weight: 700;
}

/*  */

.price-course-desc {
  color: #696969;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%; /* 16.8px */
}

/* tariffs */

.tariffs-container {
}

.tariffs-container .tariff-title {
  color: #427be0;
  text-align: center;
  font-family: Unbounded;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 115%; /* 46px */
  text-transform: uppercase;

  margin-bottom: 24px;
}

.tariffs-container .tariffs-list {
  display: flex;
  flex-direction: column;
  gap: 40px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.tariffs-container .tariff-item {
  border-radius: 20px;
  border: 1px solid #427be0;
  background: #fff;
  padding: 30px;

  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}

.tariffs-container .tariff-name {
  color: #427be0;
  text-align: center;
  font-family: Manrope;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 26px */
  text-transform: uppercase;

  max-width: 200px;
  margin: 0 auto 20px auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #d5e4ff;
}

.tariffs-container .tariff-points-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 0;
  margin-bottom: 20px;
  max-width: 238px;
}

.tariffs-container .point-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.tariffs-container .point-text {
  color: #2a2a2a;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 16px */
}

.tariffs-container .point-text span {
  color: #427be0;
}

.tariffs-container .price {
  max-width: 200px;
  margin: 20px auto;
  padding-top: 20px;
  border-top: 1px solid #d5e4ff;

  color: #2a2a2a;
  text-align: center;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 32px */
  text-transform: uppercase;
}

.tariffs-container .buy-btn {
  display: block;
  border-radius: 50px;
  background: #fa8c0c;

  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;

  text-decoration: none;
  padding: 14px;
  max-width: 260px;
  width: 100%;
  margin: 0 auto;
  border: initial;

  animation: pulseScale 2000ms infinite;
}

/* timer-two */

.countdown-two {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 32px;

  margin-top: 10px;
}

.countdown-time-two {
  display: block;
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 28px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
  letter-spacing: -0.56px;

  width: 70px;
}

.countdown-doubledot-two {
  content: "";
  display: flex;

  height: 30px;
  width: 1px;
  background: #171717;

  margin-top: 40px;
  margin-bottom: 40px;

  margin-left: auto;
  margin-right: auto;

  margin-top: 0;
  margin-bottom: 0;
}

/* section-question */

.section-questions {
  padding-top: 40px;
  padding-bottom: 60px;
}

/* faq-02 */

.faq-title {
  color: #171717;
  text-align: center;
  font-family: Unbounded;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  text-transform: uppercase;

  max-width: 285px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 20px;
}

.isOpen .content-two {
  display: block;
}

.question-two {
  position: relative;

  border-radius: 20px;
  background: linear-gradient(90deg, #d5e4ff 0%, #8bb5ff 100%);
  backdrop-filter: blur(2px);

  padding: 20px;

  max-width: 320px;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

  cursor: pointer;
}

.last-question {
  margin-bottom: 0;
}

.content-two {
  display: none;
}

.content-two p {
  color: #171717;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 16.8px */
}

.question-two-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.question-two-name > p {
  color: #171717;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 19.2px */

  max-width: 240px;
}

.content-two p {
  padding-top: 10px;
}

.question-plus {
  transform: rotate(0);

  transition: transform 250ms linear;
}
.question-two.open .question-plus {
  transform: rotate(45deg);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  background: #101010;
}

.footer-deals::after {
  content: "";
  display: block;

  width: 100px;
  height: 1px;

  margin: 20px auto;

  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    #fff 52.6%,
    rgba(255, 255, 255, 0) 100%
  );
}

.deals-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.deals-list .list-item a {
  display: block;
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* mail */

.footer-social-container {
  margin-bottom: 30px;
}

.mail-container {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.mail-link {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: none;
}

/* fop */

.fop-container {
  margin-bottom: 20px;
}

.fop-name {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}

/* disign creator */

.disign-creator-link {
  display: block;
}

.disign-creator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 7px;
  border-radius: 40px;
  border: 0.3px solid #ffffff88;

  max-width: 189px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.create-by-text {
  color: var(--white, #fff);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* modal */

body.modal-open {
  overflow: hidden;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  opacity: 1;
  visibility: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 999;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding-top: 50px;
  padding-right: 6px;
  padding-bottom: 24px;
  padding-left: 6px;

  max-width: 375px;
  width: 100%;

  border-radius: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box {
  height: 100%;
  overflow: auto;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
